<?php

$config = [];
$env = isset($env) ? $env : "production";

if ($env == "debug") {
	$config = [
		"base" => "/bills/",
		"host" => "localhost",
		"database" => "db",
		"user" => "user",
		"pass" => "pass",
	];
} else {
	$config = [
		"base" => "/bills/",
		"host" => "localhost",
		"database" => "db",
		"user" => "user",
		"pass" => "pass",
	];
}

?>
